body {
    font-family: 'Concert One', cursive;
    background-color: #aec2f9;
    margin: 0px;
    height: fit-content;
}

div {
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header, .footer {
    margin: 0px auto;
}

.header {
    padding-left: 200px;
    border-bottom: 1px solid #071af2;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

h3, p {
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.message-board {
    width: 200px;
    margin: 40px auto;
    background-color:#aec2f9;
    padding: 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px #7484ab;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-box {
    height: 10px;
    border-top: 2px solid #a2b5ea;
    color: #071af2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 40px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.card {
    width: 300px;
    background-color: #071af2;
    color: #aec2f9;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-box {
    width: 30px;
    height:30px;
    margin: 10px;
    background-color: #aec2f9;
    color:#071af2;
    border-radius: 50%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice-box {
    width: 80px;
    height: 80px;
    background-color: #aec2f9;
    color:#071af2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Concert One', cursive;
    margin: 10px;
    padding: 10px 15px;
    color:#071af2;
    cursor: pointer;
    background-color:#aec2f9;
    border-radius: 10px;
    border: none;
}

#computerButtons button {
    cursor:not-allowed;
}

#playerButtons button:hover {
    box-shadow: 0px 5px #aec2f9;
    background-color:#071af2;
    color:#aec2f9;
    border: 2px solid #aec2f9;
    transform: translateY(-5px)
}

#playerButtons button:active {
    background-color:#071af2;
    color:#aec2f9;
    box-shadow: 0px 0px;
    transform: translateY(5px);
    
}